In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
ds=[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
    ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
    ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
    ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
    ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [3]:
te=TransactionEncoder()
te_ary=te.fit(ds).transform(ds)
df=pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [4]:
frequent_itemsets=apriori(df, min_support=0.5,use_colnames=True)

In [5]:
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Eggs, Onion, Kidney Beans)

In [6]:
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.75)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0
2,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
3,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
4,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
5,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
6,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
8,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf

In [7]:
frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True)

In [8]:
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Eggs, Onion, Kidney Beans)

In [9]:
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Kidney Beans),(Milk),1.0,0.6,0.6,0.60,1.00,0.00,1.0
6,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,(Kidney Beans),(Onion),1.0,0.6,0.6,0.60,1.00,0.00,1.0
8,(Kidney Beans),(Yogurt),1.0,0.6,0.6,0.60,1.00,0.00,1.0
9,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
10,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
11,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
12,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
13,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
14,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
15,(Kidney Beans),"(Eggs, Onion)",1.0,0.6,0.6,0.60,1.00,0.00,1.0

In [10]:
d=[['Chips','Apples','Eggs','Bread','Peanut Butter','Protein Bar','Sketch Pens','Shower Gel','Fruit Juice','Sanitizer'],
      ['Bread','Eggs','Biscuit','Upma','Vermicelli','Pasta','Buns','Chocolate','Pizza','Protein Bar','Soya Bean','Beans'],
      ['Bread','Apples','Eggs','Vegetables','Lentils','Honey','Ketchup','Fruit Jam','Soaps','Mayonnaise'],
      ['Bread','Eggs','Buns','Incense Sticks','Repellent','Corn Flakes','Cerelac','Soaps','Sanitizer'],
      ['Vegetables','Bread','Eggs','Buns','Yogurt','Ice Cream','Milk','Cardamom','Cinnamon']]

In [11]:
te=TransactionEncoder()
te_ary=te.fit(d).transform(d)
dg=pd.DataFrame(te_ary,columns=te.columns_)
dg

,Apples,Beans,Biscuit,Bread,Buns,Cardamom,Cerelac,Chips,Chocolate,Cinnamon,...,Repellent,Sanitizer,Shower Gel,Sketch Pens,Soaps,Soya Bean,Upma,Vegetables,Vermicelli,Yogurt
0,True,False,False,True,False,False,False,True,False,False,...,False,True,True,True,False,False,False,False,False,False
1,False,True,True,True,True,False,False,False,True,False,...,False,False,False,False,False,True,True,False,True,False
2,True,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False
3,False,False,False,True,True,False,True,False,False,False,...,True,True,False,False,True,False,False,False,False,False
4,False,False,False,True,True,True,False,False,False,True,...,False,False,False,False,False,False,False,True,False,True

In [12]:
frequent_itemsets=apriori(dg, min_support=0.5,use_colnames=True)

In [13]:
frequent_itemsets

   support             itemsets
0      1.0              (Bread)
1      0.6               (Buns)
2      1.0               (Eggs)
3      0.6        (Buns, Bread)
4      1.0        (Eggs, Bread)
5      0.6         (Eggs, Buns)
6      0.6  (Eggs, Buns, Bread)

In [14]:
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.75)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Buns),(Bread),0.6,1.0,0.6,1.0,1.0,0.0,inf
1,(Eggs),(Bread),1.0,1.0,1.0,1.0,1.0,0.0,inf
2,(Bread),(Eggs),1.0,1.0,1.0,1.0,1.0,0.0,inf
3,(Buns),(Eggs),0.6,1.0,0.6,1.0,1.0,0.0,inf
4,"(Eggs, Buns)",(Bread),0.6,1.0,0.6,1.0,1.0,0.0,inf
5,"(Buns, Bread)",(Eggs),0.6,1.0,0.6,1.0,1.0,0.0,inf
6,(Buns),"(Eggs, Bread)",0.6,1.0,0.6,1.0,1.0,0.0,inf

In [15]:
frequent_itemsets=apriori(dg, min_support=0.6, use_colnames=True)

In [16]:
frequent_itemsets

   support             itemsets
0      1.0              (Bread)
1      0.6               (Buns)
2      1.0               (Eggs)
3      0.6        (Buns, Bread)
4      1.0        (Eggs, Bread)
5      0.6         (Eggs, Buns)
6      0.6  (Eggs, Buns, Bread)

In [17]:
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Buns),(Bread),0.6,1.0,0.6,1.0,1.0,0.0,inf
1,(Bread),(Buns),1.0,0.6,0.6,0.6,1.0,0.0,1.0
2,(Eggs),(Bread),1.0,1.0,1.0,1.0,1.0,0.0,inf
3,(Bread),(Eggs),1.0,1.0,1.0,1.0,1.0,0.0,inf
4,(Eggs),(Buns),1.0,0.6,0.6,0.6,1.0,0.0,1.0
5,(Buns),(Eggs),0.6,1.0,0.6,1.0,1.0,0.0,inf
6,"(Eggs, Buns)",(Bread),0.6,1.0,0.6,1.0,1.0,0.0,inf
7,"(Eggs, Bread)",(Buns),1.0,0.6,0.6,0.6,1.0,0.0,1.0
8,"(Buns, Bread)",(Eggs),0.6,1.0,0.6,1.0,1.0,0.0,inf
9,(Eggs),"(Buns, Bread)",1.0,0.6,0.6,0.6,1.0,0.0,1.0
10,(Buns),"(Eggs, Bread)",0.6,1.0,0.6,1.0,1.0,0.0,inf
11,(Bread),"(Eggs, Buns)",1.0,0.6,0.6,0.6,1.0,0.0,1.0